/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Scale down images and embedded videos so they don't overflow their parents */
img, object { max-width: 100%; }

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */
/*
div, main, article, section, aside, hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;
}
*/


/* ------------------------------------------------------------ */
/* start project-specifc styles below this line */

body {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5em;
	color: white;
}

h1 {
	font-family: 'Arvo', "Times", serif;
	font-size: 20vh;
	line-height: 1em;
	color: white;
	text-align: center;
}

h2 {
	font-family: 'Arvo', "Times", serif;
	font-size: 70px;
	font-weight: 500;
	line-height: 1em;
	color: #518C16;
}

h3 {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 80px;
	font-weight: 400;
	line-height: 1.5em;
	color: white;
	text-align: center;
}

.global-nav {
grid-column: 1 / 4;
grid-row: 1 / 2;
}
	.global-nav ul {
		position: sticky;
		top: 0px;
		display: flex;
		padding: 0;
		flex-wrap: wrap;
	}

	.global-nav li {
		font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
		flex: 1 1 80px;
		list-style-type: none;
		text-align: center;
		margin-right: 2px;
		margin-left: 2px;
	}

	.global-nav li a {
		display: block;
		height: 4rem;
		padding: 1.2em;
		align-self: center;
		color: #fff;
		text-decoration: none;
		background-color: #A5A5A5;
		transition: 0.5s;
	}

	.global-nav li a:hover {
		background-color: #518C16;
		margin-top: 25px;
		transition: 0.5s;
	}

	.global-nav li a:hover:after {
		background-color: #518C16;
		margin-top: 20px;
		transition: 1s;
	}

	footer {
		text-align: center;
		margin-top: 70px;
		background-color: #518C16;
	}

.bodytext {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

/*History*/
.coverimg {
	background-image: url("../img/united_habitude.jpg");
  background-repeat: no-repeat;
  min-width: 600px;
  height: 50em;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	grid-column: 1 / 4;
	grid-row: 1 / 10;
}
.img1 {
	background-image: url("../img/villagoth.jpg");
  background-repeat: no-repeat;
  min-width: 300px;
  height: 30em;
	background-size: cover;
	grid-column: 0 / 2;
	margin-top: 70px;
}
.img2 {
	background-image: url("../img/newbrut.jpg");
  background-repeat: no-repeat;
  height: 30em;
	background-size: cover;
	grid-column: 3 / 4;
	margin-top: 70px;
}
.img3 {
	background-image: url("../img/corbusier.jpg");
  background-repeat: no-repeat;
  min-width: 300px;
  height: 30em;
	background-size: cover;
	grid-column: 0 / 2;
	margin-top: 70px;
}
.img4 {
	background-image: url("../img/robinhood.jpg");
  background-repeat: no-repeat;
  height: 30em;
	background-size: cover;
	grid-column: 3 / 4;
	margin-top: 70px;
}

/*Characteristicjs*/
.coverimg2 {
	background-image: url("../img/barbican2.jpg");
  background-repeat: no-repeat;
  min-width: 600px;
  height: 45em;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	grid-column: 1 / 4;
	grid-row: 1 / 10;
}
.img21 {
	background-image: url("../img/trellick.jpg");
  background-repeat: no-repeat;
  min-width: 300px;
  height: 35em;
	background-size: cover;
	grid-column: 0 / 2;
	margin-top: 100px;
}
.img22 {
	background-image: url("../img/concrete.jpg");
  background-repeat: no-repeat;
	min-width: 500px;
  height: 30em;
	background-size: cover;
	grid-column: 3 / 4;
	margin-top: 100px;
}
.img23 {
	background-image: url("../img/boston.jpg");
  background-repeat: no-repeat;
  min-width: 350px;
  height: 30em;
	background-size: cover;
	grid-column: 0 / 2;
	margin-top: 100px;
}
.img24 {
	background-image: url("../img/stalin.jpg");
  background-repeat: no-repeat;
	min-width: 350px;
  height: 32em;
	background-size: cover;
	grid-column: 3 / 4;
	margin-top: 100px;
}

/*Designers*/
.coverimg3 {
	background-image: url("../img/blueprint.jpg");
  background-repeat: no-repeat;
  min-width: 600px;
  height: 45em;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	grid-column: 1 / 4;
	grid-row: 1 / 10;
}
.img31 {
	background-image: url("../img/rudolph.jpg");
  background-repeat: no-repeat;
  min-width: 350px;
  height: 30em;
	background-size: cover;
	grid-column: 0 / 2;
	margin-top: 100px;
}
.img32 {
	background-image: url("../img/miles.jpg");
  background-repeat: no-repeat;
	min-width: 350px;
  height: 30em;
	background-size: cover;
	grid-column: 3 / 4;
	margin-top: 100px;
}
.img33 {
	background-image: url("../img/vigano.jpg");
  background-repeat: no-repeat;
  min-width: 350px;
  height: 30em;
	background-size: cover;
	grid-column: 0 / 2;
	margin-top: 100px;
}
.img34 {
	background-image: url("../img/testa.jpg");
  background-repeat: no-repeat;
	min-width: 450px;
	height: 28em;
	background-size: cover;
	grid-column: 3 / 4;
	margin-top: 100px;
}

/*Criticism*/
.coverimg4 {
	background-image: url("../img/queenflat.jpg");
  background-repeat: no-repeat;
  min-width: 600px;
  height: 45em;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	grid-column: 1 / 4;
	grid-row: 1 / 10;
}
.img41 {
	background-image: url("../img/demolition.jpg");
  background-repeat: no-repeat;
  min-width: 300px;
  height: 30em;
	background-size: cover;
	grid-column: 0 / 2;
	margin-top: 100px;
}
.img42 {
	background-image: url("../img/graffiti.jpg");
  background-repeat: no-repeat;
  min-width: 300px;
	height: 30em;
	background-size: cover;
	grid-column: 3 / 4;
	margin-top: 100px;
}
.img43 {
	background-image: url("../img/park.jpg");
  background-repeat: no-repeat;
  min-width: 400px;
  height: 30em;
	background-size: cover;
	grid-column: 0 / 2;
	margin-top: 100px;
}
.img44 {
	background-image: url("../img/tesco.jpg");
  background-repeat: no-repeat;
  height: 30em;
	min-width: 400px;
	background-size: cover;
	grid-column: 3 / 4;
	margin-top: 100px;
}

/*Unis*/
.coverimg5 {
	background-image: url("../img/geisellib.jpg");
  background-repeat: no-repeat;
  min-width: 600px;
  height: 45em;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	grid-column: 1 / 4;
	grid-row: 1 / 10;
}
.img51 {
	background-image: url("../img/umass.jpg");
  background-repeat: no-repeat;
  min-width: 350px;
  height: 30em;
	background-size: cover;
	grid-column: 0 / 2;
	margin-top: 100px;
}
.img52 {
	background-image: url("../img/harris.jpg");
  background-repeat: no-repeat;
	min-width: 350px;
  height: 30em;
	background-size: cover;
	grid-column: 3 / 4;
	margin-top: 100px;
}
.img53 {
	background-image: url("../img/andrews.jpg");
  background-repeat: no-repeat;
  min-width: 300px;
  height: 30em;
	background-size: cover;
	grid-column: 0 / 2;
	margin-top: 100px;
}
.img54 {
	background-image: url("../img/uni1.jpg");
  background-repeat: no-repeat;
	min-width: 400px;
  height: 30em;
	background-size: cover;
	grid-column: 3 / 4;
	margin-top: 100px;
}

/*Today*/
.coverimg6 {
	background-image: url("../img/sirius.jpg");
  background-repeat: no-repeat;
  min-width: 600px;
  height: 45em;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	grid-column: 1 / 4;
	grid-row: 1 / 10;
}
.img61 {
	background-image: url("../img/sos.jpg");
  background-repeat: no-repeat;
  min-width: 400px;
  height: 30em;
	background-size: cover;
	grid-column: 0 / 2;
	margin-top: 70px;
}
.img62 {
	background-image: url("../img/parkhill2.jpg");
  background-repeat: no-repeat;
	min-width: 350px;
  height: 30em;
	background-size: cover;
	grid-column: 3 / 4;
	margin-top: 70px;
}
.img63 {
	background-image: url("../img/Pirelli.jpg");
  background-repeat: no-repeat;
  min-width: 350px;
  height: 30em;
	background-size: cover;
	grid-column: 0 / 2;
	margin-top: 70px;
}
.img64 {
	background-image: url("../img/preston.jpg");
  background-repeat: no-repeat;
  height: 30em;
	min-width: 350px;
	background-size: cover;
	grid-column: 3 / 4;
	margin-top: 70px;
}

.header {
	grid-column: 1 / 4;
	grid-row: 6/ 7;
	text-align: center;
}

.p1 {
	grid-column: 2 / 4;
	text-align: left;
	margin-right: 10%;
	margin-left: 10%;
}
.p2 {
	grid-column: 1 / 3;
	text-align: left;
	min-width: 150px;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 70px;
}
.p3 {
	grid-column: 2 / 4;
	text-align: left;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 70px;
}
.p4 {
	grid-column: 1 / 3;
	text-align: left;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 70px;
}
.p5 {
	grid-column: 2 / 4;
	text-align: left;
	margin-right: 10%;
	margin-left: 10%;
}


.container {
background-color: black;
  background-repeat: no-repeat;
  min-width: 300px;
}


@media (min-width: 875px) {

	/* container on larger screens */

	body {
		font-size: 18px;
	}
	.container {
		width: 100%;
		border: 1px solid #ddd;
	}
	.img1{
		margin-left: 10%;
	}
	.img2{
		margin-right: 10%;
	}
	.img3 {
		margin-left: 10%;
	}
	.img4 {
		margin-right: 10%;
	}
	.img21{
		margin-left: 10%;
	}
	.img22{
		margin-right: 10%;
	}
	.img23 {
		margin-left: 10%;
	}
	.img24 {
		margin-right: 10%;
	}
	.img31{
		margin-left: 10%;
	}
	.img32{
		margin-right: 10%;
	}
	.img33 {
		margin-left: 10%;
	}
	.img34 {
		margin-right: 10%;
	}
	.img41{
		margin-left: 10%;
	}
	.img42{
		margin-right: 10%;
	}
	.img43 {
		margin-left: 10%;
	}
	.img44 {
		margin-right: 10%;
	}
	.img51{
		margin-left: 10%;
	}
	.img52{
		margin-right: 10%;
	}
	.img53 {
		margin-left: 10%;
	}
	.img54 {
		margin-right: 10%;
	}
	.img61{
		margin-left: 10%;
	}
	.img62{
		margin-right: 10%;
	}
	.img63 {
		margin-left: 10%;
	}
	.img64 {
		margin-right: 10%;
	}

.p1{
	max-width: 900px;
}
.p2{
	max-width: 1100px;
	/*grid-column: 2 / 3;*/
}
.p3{
	max-width: 900px;
	/*grid-column: 2 / 3;*/
}
.p4{
	max-width: 1100px;
	/*grid-column: 2 / 3;*/
}
.p5{
	max-width: 900px;
}


} /* end media query */

@media (max-width: 875px) {

	/* container on smaller screens */
	.container {
		width: 100%;
	}
h1 {
	font-size: 84px;
}

h2 {
text-align: center;
font-size: 60px;
}
.coverimg {
	height: 30em;
	position: center;
}
.coverimg2 {
	height: 30em;
	position: center;
}
.coverimg3 {
	height: 30em;
	position: center;
}
.coverimg4 {
	height: 30em;
	position: center;
}
.coverimg5 {
	height: 30em;
	position: center;
}
.coverimg6 {
	height: 30em;
	position: center;
}

.bodytext {
display: block;
}

p {
margin-left: 5%;
margin-right: 5%;
position: center;
}

.global-nav ul {
	top: 0px;
	display: flex;
	padding: 0;
	flex-wrap: wrap;

} /* end media query */
